 <div class="container-fluid" ng-controller="GetUsuarios" >
 <div class="row">
 <h3>Usuarios registrados</h3>
 	<div class="col-xs-12 col-md-12 col-lg-12" style=" width:;
    height: 300px; overflow:auto">
 		<div class="table-responsive">
	 		<table class="table table-bordered" id="">
  	 		<td >Id</td>
  	 		<td>Nombre</td>
  	 		<td>Apellido</td>
  	 		<td>Email</td>
  	 		<td>Activo</td>
  	 		<td>Acciones</td>
   			<tr ng-repeat="dato in datos">
   				<td>#{{dato.id}}</td>
   				<td>{{dato.name}}</td>
   				<td>{{dato.lastName}}</td>
   				<td>{{dato.email}}</td>
   				<td>{{dato.active}}</td>
   				<td>
     					
     					<button id="btnEliminarOculto" class="btn button secundario" ng-click="eliminar()">Eliminar</button>
              <button id="btnEditarOculto" class="btn button secundario" ng-click="Mostrar()" >Editar</button>
              



              
              <button id="btnActu Oculto" class="btn button primario" style="display:;" ng-click="actualizar(dato.id)">Actualizar</button>
              <!--<button class="btn button primario" data-toggle="modal" data-target="#myModal" style="display:none;>Editar</button>-->

            </td>
          </tr>
        </table> 
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-6">
      <div class="formulario" id="oculto" style="display:none; margin-top:100px;">
        <div class="form-group">
          <input type="text" id="nameInput" class="form-control" ng-model="name" ng-value="dataId" ></input>
          <input type="text" id="lastnameInput" class="form-control" ng-model="lastName " ></input>
          <input type="text" id="emailInput" class="form-control" ng-model="email" ></input>
          <input type="text" id="creditInput" class="form-control" ng-model="credit" ></input>
          <input type="text" id="passwordInput" class="form-control" ng-model="password" ></input>

           <button class="btn button secundario">Actualizar</button>

        </div>        
      </div>
      {{dataId}}
    </div>
</div>
