<div class="">
     <div class="jumbotron">
	     <div class="container">
	     	<div class="row">
	     	<div class="col-xs-0 col-sm-12 col-md-3 col-lg-3"></div>
	     		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
	     			<h1>Bienvenido</h1><br><br>
	     			<input class="form-control" type="text" required placeholder="Correo Electronico" ng-model="email">
	     			<input class="form-control" type="password" required maxlength="9" minlength="9" placeholder="Contraseña" ng-model="pass">
	     			<input class="form-control" type="submit" name="Ingresar" value="Ingresar" ng-click="Login()" id="boton">
	     			<br>
	     			<div class="alert alert-danger" id="oculto" style="display:none;">
                        <strong>Error!</strong> Usuario y/o contraseña incorrectos
                    </div>
	     		</div>
	     		<div class="col-xs-0 col-sm-12 col-md-3 col-lg-3"></div>
	     	</div>
	     </div>
	     		
 	</div>
 </div>