.button, .button2 {
	width: 100%;
	padding: 5px;
	margin-top: 5px;
}

.secundario{
	background-color: white;
	color: black;
	border: 2px solid black;
}
.primario, .button2 {
	background-color: #b71c1c;
	color: white; 
}

input, select {
	margin-top: 10px;
}

.texto {
	text-align: center;
}