/*------Menu------*/
*{
    box-sizing: border-box;
}

#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 30px;
    margin: 20px 10px;
    cursor: pointer;
}

.menu {
    background-color: #388e3c;    
}

#barraNavegacion li a{
    color: white;
}
#Logo {
     color: white;
}

#menu-bar:checked ~ .menu {
    transition: all 1s;
    transform: translateY(0);
}

#AutosAct td {
   border-color: red;
   border:5px;
}
li {
    background-color: #388e3c;  
    border: 0px;
}